{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": false
  },
  "plugins": ["prettier"],
  "extends": ["plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "eol-last": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
      "arrowFunctions": true
    }
  }
}